<html>

<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <script src="/static/assets/js/highlight.pack.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <link rel="stylesheet" href={{ url_for('static', filename='assets/css/home.css') }}>
  <link rel="stylesheet" href={{ url_for('static', filename='assets/css/top.css') }}>
  <title>SQL Injection Testing</title>
</head>

<body>
  <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/css/styles/default.css">
  <!-- WEB APPLICATION PANEL -->
  <div class="container">
    <h1 class="page-header">SQL Injection Demo</h1>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default" id="panel1">
          <div class="panel-heading"><label>Application Demo</label></div>
          <div class="panel-body">

            <!-- TOP OF WEB APPLICATION -->
            <form class="form-inline" action="/searchBar" method="GET">
              <h2><a href="/">Online Bookstore</a></h2>
              <div class="form-group">
                <input class="form-control" id="search-box" name="searchQuery" type="search" placeholder="Search"
                  aria-label="Search">
                <button class="btn btn-outline-success " id="search-button" value="Search" type="submit">Search</button>
              </div>
              <div class="form-group">
                {% if not loggedIn %}
                <div id="signInButton">
                  <a class="link text-right" href="/loginForm">Sign In</a>
                </div>
                {% else %}
                <div class="dropdown">
                  <button class="dropbtn">Hello, <br>{{firstName}}</button>
                  <div class="dropdown-content">
                    <a href="/account/orders">Your orders</a>
                    <a href="/account/profile">Your profile</a>
                    <hr>
                    <a href="/logout">Sign Out</a>
                  </div>
                </div>
                {% endif %}
                <div id="kart">
                  <a class="link" href="/cart">CART <span class="badge">{{nItems}}</span></a>
                </div>
              </div>
            </form>
            <!-- DISPLAY ITEMS -->
            <p>The results for '{{ keywords }}'</p>
            <div id="displayTable">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">More details</th>
                  </tr>
                </thead>
                <tbody>
                  {%if itemData|length <= 0 %}
                  <div class="bg-warning">
                    <h3>No results found!</h3>
                  </div>
                  {% else %}
                  {% for item in itemData %}

                  {% for data in item %}
                  <tr>
                    <td>{{ data[0] }}</td>
                    <td>{{ data[1] }}</td>
                    <td>{{ data[2] }}</td>
                    <td>
                      <a href="/productDescription?productId={{data[0]}}">Link</a>
                    </td>
                  </tr>
                  {% endfor %}

                  {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <!-- Executed SQL Query -->
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="display: block;" id="panel2">
        <div class="panel panel-default">
          <div class="panel-heading"><span><strong>Executed SQL Query</strong></span></div>
          <div class="panel-body">
            <pre>
                            <code class="language-sql" id="sql-code"></code>
                        </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var sql_query_search = "SELECT * \nFROM products \nWHERE name LIKE '%{product}%'"
    document.addEventListener('DOMContentLoaded', (event) => {

    });
    $("#search-box").keyup(function () {
      updateSearchQuery()
    });

    function updateSearchQuery() {
      $("#sql-code").html(sql_query_search.replace("{product}", $("#search-box").val()));
      document.querySelectorAll('pre code').forEach((block) => {
        hljs.highlightBlock(block);
      });
    }
  </script>

  <div></div>

</body>

</html>